.navMenu {
    width: 100%;
    height: 100%;
    background-color: rgb(90, 90, 90);
    position: fixed;
    top: -100%;
    right: 0px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 1s ease;
    text-align: center;
}

.navMenu.active {
top: 50px;
padding-top: 40px;
}



ul {
    top: 25px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 30px;
    overflow: hidden;
    >li, a {
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 25px;
}

}

.navMenu > a:hover {
    font-weight: bold;
}

.hidden {
    display: none;
}