:root {}

/* ADD MEDIA QUERY:::: EVERYTHING BECOMES FLEX DIRECTION COLUMN*/
form>.left {
    background-color: #d3d3d3;

    >.carDiv, .workDiv {
        background-color: inherit;
        display: flex;
        flex-wrap: wrap;
        padding: 0px 8px;
        text-align: left;
        flex-direction: row;
        >.carLeft, .workLeft {
            width: 50%;

        }

        >.carRight, .workRight {
            width: 50%;
        }
    }

    >.customerDiv {
        background-color: #d3d3d3;
    }

    >.customerDiv {
        background-color: inherit;
        display: flex;
        flex-wrap: wrap;
        padding: 0px 8px;
        text-align: left;

        >.customerLeft {
            width: 50%;

        }

        >.customerRight {
            width: 50%;
        }
    }

    >.customerDiv {
        background-color: #d3d3d3;
    }
}

input,textarea {
    margin: 0px 20px;
    padding: 5px 40px;
}

label {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    line-height: 26px;
    margin-bottom: 10px;
    font-size: 20px;
}

textarea {
    resize: none;
    height: 75px;
}

.home {
    top: 70px;
    background-color: lightgrey;
    position: relative;
}

.formSubmit {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: auto;
    
    >button {
        border: none;
        background-color: yellow;
        padding: 8px;
        border-radius: 20px;  
        width: 70px;
        text-align: center;
        margin: auto;
        font-size: 15px;
        margin-bottom: 12px;
    }
    >span {
        font-size: 18px;
        margin-top: 10px;
    }
}

.green {
    color: rgb(43, 199, 43);
}

.red {
    color: red;
}

.green, .red {
    font-weight: bold;
}

.hidden {
    display: none;
}