:root {}

form>.left {
    background-color: red;


    >.carDiv {
        background-color: inherit;
        display: flex;
        flex-wrap: wrap;
        padding: 10px 8px;       
        text-align: left;
        >.carLeft {
            width: 40%;

        }
        >.carRight {
            width: 50%;
        }
    }

    >.customerDiv {
        background-color: green;
    }
}

input {
    margin: 0px 20px;
    padding: 5px 40px;
}
label {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    line-height: 26px;
    margin-bottom: 10px;
    font-size: 20px;
}