:root {}

/* ADD MEDIA QUERY:::: CARLEFT AND CUSTOMER LEFT BECOMES 50%*/
form>.left {
    background-color: red;

    >.carDiv, .workDiv {
        background-color: inherit;
        display: flex;
        flex-wrap: wrap;
        padding: 10px 8px;
        text-align: left;
        >.carLeft, .workLeft {
            width: 40%;

        }

        >.carRight, .workRight {
            width: 50%;
        }
    }

    >.customerDiv {
        background-color: green;
    }

    >.customerDiv {
        background-color: inherit;
        display: flex;
        flex-wrap: wrap;
        padding: 10px 8px;
        text-align: left;

        >.customerLeft {
            width: 40%;

        }

        >.customerRight {
            width: 50%;
        }
    }

    >.customerDiv {
        background-color: green;
    }
}

input,textarea {
    margin: 0px 20px;
    padding: 5px 40px;
}

label {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    line-height: 26px;
    margin-bottom: 10px;
    font-size: 20px;
}

textarea {
    resize: none;
}